<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>COUNCIL MEETING</title>
     <script type="text/javascript" th:src="@{/js/jquery-3.7.0.min.js}"></script>
     <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">COUNCIL MEETING</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/register}">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/login}">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
	<br><br><br>
    <div class="row">
        <h1 class="text-center" style="font-size: x-large;"> WELCOME TO <span style="color: #008000;">LIAFI</span> </h1>
    </div>
    <br><br><br>
     <div class="row">
        <h1 class="text-center" style="font-size: x-large;"> APPLICATION FOR REGISTRATION AS DELEGATE FOR GENERAL COUNCIL MEETING OF LIAFI AT VIJAYAWADA HELD ON 17,18,19 SEP 2023</h1>
    </div>
   
</div>
</body>
</html>