<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COUNCIL MEETING</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container">
        <!-- Brand/logo -->
        <a class="navbar-brand" th:href="@{/gcmeeting/index}">COUNCIL MEETING</a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navigation Links -->
       <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/gcmeeting/register}">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/gcmeeting/login}">Login</a>
                </li>
            </ul>
        </div>
    </div>	
</nav>
<br />
<br />
<br />
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center" style="color: #008000;">Payment Successfull</h3>
                </div>
                <div class="card-body">
                  <span>Name : </span><span th:text="${name}">${name}</span> <br>
                   Your <span th:text="${amount}">amount</span>₹ Paid Successfully  <br>
                   Your Appointment Id is : <strong><span th:text="${appointmentId}">${appointmentId}</span> </strong><br>
                  <!-- <div th:if="${mailStatus}">
					 <span th:text="#{mailStatusMsg}"></span>
				   </div>
				   <div th:unless="${mailStatus}">
				     <span th:text="#{mailStatusErrMsg}">failed</span>
				   </div>-->
				  <div class="message">
			        <h3>Meeting Verification Instructions</h3>
			        <p th:text="'Kindly ensure a smooth meeting experience by bringing your Aadhar card for verification.'">
			            Default Message
			        </p>
			      </div> 
                  <span>
				     Thank you for registering with us. We are pleased to inform you that your appointment has been successfully scheduled.
                  </span>
                  <br>
                  <span>
                     You will receive further details about the appointment via your registered email. 
                  </span>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>