<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COUNCIL MEETING</title>
    <script type="text/javascript" th:src="@{/js/jquery-3.7.0.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/checkout-razorpay.js}"></script>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    
    <div class="container">
        <!-- Brand/logo -->
        <a class="navbar-brand" th:href="@{/gcmeeting/index}">COUNCIL MEETING</a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navigation Links -->
       <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/gcmeeting/register}">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/gcmeeting/login}">Login</a>
                </li>
            </ul>
        </div>
    </div>	
</nav>
<div class="container">
	
	<!--<input type="hidden"  id="keyId" th:value="${keyId}" />
	<input type="hidden"  id="currencyType" th:value="${currencyType}" />
    <input type="hidden"  id="regFeeAmount" th:value="${regFeeAmount}" />
    <input type="hidden"  id="companyName" th:value="${companyName}" />
    <input type="hidden"  id="mailId" th:value="${mailId}" />
-->
    <div class="row">
		 <br>
		 <p>To attend the meeting, please complete the payment.</p>

        <div class="col-sm-8 pb-5">
            <div class="card">
                <div class="card-body m-4">
                    <h5 class="card-title">Registration Amount</h5>
                    <div class="mt-auto mb-4">
                        <span  class="fw-bold fs-2" th:text="${regFeeAmount}" th:remove="tag">title</span>₹
                    </div>
                    <span>Please Pay Amount to below Bank Account and Submit Transaction Number </span>
                    <br>
                    <span>> Bank Name :  <strong>Union Bank of India </strong> </span><br>
                    <span> Branch Name : <strong>Arundelpet Branch, Guntur </strong></span><br>
                    <span> Account Number : <strong>520101014040979 </strong></span><br>
                    <span> IFSC Code : <strong>UBIN0921378 </strong></span><br>
                    <br>
                    <br>
                     <form 
                            method="post"
                            th:action="@{/gcmeeting/trasactionSubmit}"
                            class="form-horizontal"
                            role="form">
                        <div class="mb-3">
                            <label for="transactionNumber" class="control-label">Transaction Number</label>
                            <input type="text"
                                   id="transactionNumber"
                                   name="transactionNumber"
                                   class="form-control"
                                   placeholder="Enter Your Transaction Number" />
                        </div>
                        <input type="hidden"  id="userMailId"  name="userMailId" th:value="${mail}" />
                        <div class="mb-3">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                    <span><strong> Once the payment is verified, we will send the meeting appointment to your registered email.</strong></span>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<script>
   
   
   function doGet(path, requestObject, isAsync) {
      	var resp;
		$.ajax({
		       url: path,
		       type: 'GET',
		       data: {"amount": requestObject},
		       contentType: "application/json; charset=UTF-8",
		       async: isAsync,
		       success: function (data) {	
		       	resp = data
		       }
		       })
		       return resp;
	}
	
    function createOrderID() {
        var amount  = $("#regFeeAmount").val();  
		totalAmount = amount*100;
		var orderResponse = doGet("/liafi/gcmeeting/createOrder", totalAmount, false);
	    if(orderResponse.statusCode == 200) {
           console.log("razorpayOrderId" + orderResponse.razorpayOrderId);
           openCheckout(amount, $("#mailId").val(), orderResponse.razorpayOrderId);
		}else{
			alert("Order Creation Failed "+orderResponse.statusMsg);
		}
    }
    
</script>

<script>
	
function openCheckout(amount,mail, razorpayOrderId) {
  
    var options = {
        "key": "[[${keyId}]]", // Enter the Key ID generated from the Dashboard
        "amount": totalAmount.toString(), // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
        "currency": "[[${currencyType}]]",
        "name": "[[${companyName}]]",
        "image": "/liafi/payment_logo.jpg",
        "order_id": razorpayOrderId, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
        "callback_url": "/liafi/gcmeeting/paymentSuccess/"+amount+"/"+"[[${mail}]]/",
        "notes": {
            "description": "sample text",
            "company_name": "[[${companyName}]]",
        },
        "prefill": {
		    "name": "[[${name}]]",
		    "email": "[[${mail}]]",
		    "contact": "[[${mobile}]]"
		},
        "theme": {
            "color": "#004A55"
        }
    };
    
    var rzp1 = new Razorpay(options);
    rzp1.on('payment.failed', function (response){
            console.log(response.error.code);
            console.log(response.error.description);
            console.log(response.error.source);
            console.log(response.error.step);
            console.log(response.error.reason);
            console.log(response.error.metadata.order_id);
            console.log(response.error.metadata.payment_id);
         alert("Payment Failed "+ "Status Code "+response.error.code +" Description"+ response.error.description
         +" Reason "+ response.error.reason) ;  
    });
    rzp1.open();
    e.preventDefault();
}
</script>-->
</body>
</html>