<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COUNCIL MEETING</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/datatables.min.css}" rel="stylesheet" />
    <link th:href="@{/css/bootstrap-toggle.min.css}" rel="stylesheet" />
  
</head>
<style>
	.relativeTable, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
.relativeTd{
	font-weight: 400 !important;
}
.relativeHeader {
   font-weight: bolder !important;
}
</style>
<body>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    
    <div class="container">
        <!-- Brand/logo -->
        <a class="navbar-brand" th:href="@{/gcmeeting/index}">COUNCIL MEETING</a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navigation Links -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/gcmeeting/register}">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/gcmeeting/login}">Login</a>
                </li>
                 <!--<li class="nav-item">
                    <a class="nav-link" th:href="@{/gcmeeting/contact}">Contact</a>
                </li>-->
            </ul>
        </div>
    </div>
</nav>
<br>
<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-5"><h3>User Details</h3></div>
	<div class="col-md-4"></div>
	<div class="col-md-2" style="float:right">
		<button onclick="history.go(-1)" class="btn btn-dark">Back</button>
	</div>
 </div>
 <div class="d-flex justify-content-center">
  <ul class="list-group rounded-0" style="width:250px">
    <li class="list-group-item list-group-item-secondary border-right-0">Name</li>
    <li class="list-group-item list-group-item-secondary border-right-0">Email</li>
    <li class="list-group-item list-group-item-secondary border-right-0">Mobile</li>
    <li class="list-group-item list-group-item-secondary border-right-0">Address</li>
    <li class="list-group-item list-group-item-secondary border-right-0">Zone</li>
    <li class="list-group-item list-group-item-secondary border-right-0">Division</li>
    <li class="list-group-item list-group-item-secondary border-right-0">Branch</li>
    <li class="list-group-item list-group-item-secondary border-right-0">Agency Code</li>
    <li class="list-group-item list-group-item-secondary border-right-0">Club Type</li>
    <li class="list-group-item list-group-item-secondary border-right-0">Appointment Id</li>
    <li class="list-group-item list-group-item-secondary border-right-0">Order Id</li>
    <li class="list-group-item list-group-item-secondary border-right-0">Payment Id</li>
    <li class="list-group-item list-group-item-secondary border-right-0">Transaction Status</li>
  </ul>
  <ul class="list-group rounded-0" style="width:300px">
    <li th:text="${user.name}" class="list-group-item border-left-0"></li>
 	<li th:text="${user.email}" class="list-group-item border-left-0"></li>
	<li th:text="${user.mobile}" class="list-group-item border-left-0"></li>
	<li th:text="${user.address}" class="list-group-item border-left-0"></li>
	<li th:text="${user.zoneName}" class="list-group-item border-left-0"></li>
	<li th:text="${user.divisionName}" class="list-group-item border-left-0"></l>
	<li th:text="${user.branch}" class="list-group-item border-left-0"></li>
	<li th:text="${user.agencyCode}" class="list-group-item border-left-0"></li>
	<li th:text="${user.clubTypeName}" class="list-group-item border-left-0"></li>
	<div th:if="${user.status}">
       <li th:text="${user.appointmentId}" class="list-group-item border-left-0"></li>
       <li th:text="${user.orderId}" class="list-group-item border-left-0"></li>
       <li th:text="${user.paymentId}" class="list-group-item border-left-0"></li>
    </div>
    <div th:unless="${user.status}">
       <li class="list-group-item border-left-0">payment not done</li>
       <li th:text="${user.tempOrderId}" class="list-group-item border-left-0"></li>
       <li th:text="${user.tempPaymentId}" class="list-group-item border-left-0"></li>
    </div>
	<li class="list-group-item border-left-0" th:text="${user.status?'Success' : 'Failed'}" ></li>
</ul>
</div>
<if th:if="${not #lists.isEmpty(user.relatives)}">
<br>
<div class="row">
  <div class="col-md-3">
  </div>
  <div class="col-md-6">
  <table class=""relativeTable"" style="width:100%">
   <tr>
    <th>Name:</th>
    <td class="relativeHeader">Relationship</td>
   </tr>
   <tr th:each="relative: ${user.relatives}">
    <th class="relativeTd"  th:text="${relative.name}">Telephone:</th>
    <td th:text="${relative.relationship}">555 77 854</td>
   </tr>
  </table>
 </div>
</div>
 
</if>
 
  <script type="text/javascript" th:src="@{/js/jquery-3.7.0.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/datatables.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/bootstrap-toggle.min.js}"></script>
</body>

<script>
function usersByStatus(button){
	alert(button.checked);
}


$(document).ready(function() {
	$("#usersTable").DataTable({
			'aoColumnDefs': [{
     				'bSortable': false,
     				'aTargets': [-1] /* 1st one, start by the right */
 				}]
	});
});
</script>
<script>
$(document).ready(function() {	
	$('.userInfoClass').on('click', function () {
      var userId = $(this).attr("userId");
      alert(userId);
      $('#userDetailsModal').modal('show');
    });
});
</script>

</html>
