<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>General Body</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
          
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">General Body</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/register}">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/logout}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <h1> Registered Users </h1>
    </div>
    <table class="table table-striped table-bordered table-hover"  id="usersTable">
        <thead class="table-dark">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Mobile</th>
                <th>Membership Number</th>
                <th>Aadhar Number</th>
                <th>Zone</th>
                <th>Division</th>
                <th>Branch</th>
                <th>Agency Name</th>
                <th>Appointment Number</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user: ${users}">
                <td th:text="${user.name}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.mobile}"></td>
                <td th:text="${user.membershipNumber}"></td>
                <td th:text="${user.aadharNumber}"></td>
                <td th:text="${user.zoneName}"></td>
                <td th:text="${user.divisionName}"></td>
                <td th:text="${user.branch}"></td>
                <td th:text="${user.agencyName}"></td>
                <td th:text="${user.appointmentId}"></td>
                
            </tr>
        </tbody>
    </table>
</div>
</body>

<script>
$(document).ready(function() {
	$("#usersTable").DataTable({
			'aoColumnDefs': [{
     				'bSortable': false,
     				'aTargets': [-1] /* 1st one, start by the right */
 				}]
	});
})
</script>

</html>